@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flexItemsCenter {
    @apply flex items-center gap-3;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
}
/* kostum */
#toggle-darkmode {
  width: 22px;
  height: 22px;
  z-index: 2;
  cursor: pointer;
}
#toggle-darkmode:checked ~ .dark-icon > .sun {
  display: block;
}
#toggle-darkmode:checked ~ .dark-icon > .moon {
  display: none;
}
.dark-icon .moon {
  display: block;
}
.dark-icon .sun {
  display: none;
}
